.add-column-form-container{
    height: 40%;
    width: 20vw;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border: 1px solid rgb(201, 223, 228);
 
}

.add-column-form-heading{
    text-align: center;
    font-size: 1.2rem;
    font-family:'Ubuntu', sans-serif;
     
} 

.add-column-form-btn{
    padding: 4px 20px;
    border-radius: 5px;
 
}

.add-column-form-btn-back{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}

input:focus{
    box-shadow: inset 0 -1px 0 #ddd;
}

input{
    box-shadow: rgba(99, 99, 99, 0.15) 0px 2px 8px 0px;
}
