<div class="navbar-container " >
    <nav class="navbar navbar-content-container p-0 " ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'">
        <div class="container-fluid">
            <!-- <a class="navbar-brand">Navbar</a> -->
            <img src=".\assets\logo.png" alt="" class="navbar-brand" height="65">
            <div class="d-flex">
                <button class="btn btn-outline-success ms-4" type="button" routerLink="/login" >Sign In</button>
                <button class="btn btn-outline-success ms-4" type="button" routerLink="/register">Sign up</button>
                <button class="btn btn-primary ms-4" type="button" routerLink="/dashboard">Go To Board</button>
            </div>
        </div>
    </nav>
</div>
<main class="main-container">
    <div class="image-container">
        <img src=".\assets\pinpng.com-team-png-images-5990208.png" alt="">
    </div>
    <div class="image-text-container">
        <h1 class="heading-slogans">
            Unlock the Potential of your team with HRS Kanban Board
        </h1>

        <p class="heading-paragraph">
            Collaborate, manage projects, and reach new productivity peaks. From high rises to the home office, the way
            your team works is unique—accomplish it all with HRS Kanban Board.
        </p>

        <div class="header-button">
            <button class="btn btn-header " routerLink="/dashboard">Let's Try</button>
        </div>
    </div>
</main>
<main class="main-2-container">
    <div class="main-2-inner-container">
        <div class="main2-header-container">
            <h1 data-aos="fade-up-right" data-aos-offset="100" data-aos-duration="700">It’s more than work. It’s a way
                of working together.</h1>
            <p data-aos="fade-up-left" data-aos-offset="200" data-aos-duration="800">
                Start with a HRS Kanban board, lists, and cards. Customize and expand with more features as your
                teamwork
                grows. Manage projects, organize tasks, and build team spirit—all in one place.
            </p>
            <img src=".\assets\dashboard.png" alt="" data-aos="zoom-in-up">
        </div>


    </div>

</main>

<main class="main3-container">
    <div class="main3-inner-container">
        <div class="main3-left-cintainer">
            <h1>Unfunk your workflow</h1>
            <p>
                Set up, clean up, and easily manage even the most hectic project workflows.
            </p>
        </div>
        <div class="main3-right-container">
            <img src=".\assets\kanban-methode-e1608801917364.png" alt="" data-aos="zoom-in-left">
        </div>

    </div>
</main>

<main class="main4-container">
    <div class="main4-inner-container">
        <div class="main4-left-container">
            <img src=".\assets\pinpng.com-projects-icon-png-4894061.png" alt="" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom" data-aos-offset="400">
        </div>

        <div class="main4-right-container">
            <h1>The board is just the beginning</h1>
            <p>Lists and cards are the building blocks of organizing work on a HRS Kanban board. Grow from there with
                task
                assignments</p>
        </div>
    </div>
</main>

<main class="main5-container">
    <div class="main5-inner-container">


        <div class="main5-left-container">
            <h1>No-code automation</h1>
            <p>Let the robots do the work—so your team can focus on work that matters. With HRS kanban’s built-in
                automation, reduce the number of tedious tasks (and clicks) on your project board by harnessing
                the power of automation across your entire team.</p>
        </div>

        <div class="main5-right-container">
            <img src=".\assets\Rule.png" alt="" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
                data-aos-offset="400">
        </div>


    </div>
</main>

<main class="main6-container">
    <div class="main6-inner-container">
        <h1>Stay organized and in control</h1>
        <p>From planning projects to tracking progress, see how you can make sure nothing falls through the cracks.</p>
        <video autoplay loop>
            <source src=".\assets\video1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</main>

<aside class="aside-container">
    <div class="aside-inner-container">
        <h1>Trusted by over 100,000 customers world-wide</h1>
        <div class="img-container">
            <img src=".\assets\asos_v3a.png" alt="">
            <img src=".\assets\banggood_v1.png" alt="">
            <img src=".\assets\udemy_v1.png" alt="">
        </div>

    </div>

</aside>

<footer class="footer-container">
    <div class="footer-inner-container">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
              <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                  <img src=".\assets\logo.png" width="100" alt="">
                </a>
                <p class="text-muted">&copy; 2022 HRS Kanban Board</p>
              </div>
          
              <div class="col mb-3">
          
              </div>
          
              <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
              </div>
          
              <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
              </div>
          
              <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
              </div>
            </footer>
          </div>
    </div>

</footer>


<div>

</div>