<div class="column-container">

    <div class="column" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
        <div class="column-header">
            <div class="column-title">
                <div   > {{column.columnTitle}}</div>
                <div  class="column-header-task-limit" *ngIf="column.columnTaskLimit>0 && column.columnTaskLimit >= column.tasks.length  " matTooltip="Task Limit" >
                    {{column.tasks.length}}/{{column.columnTaskLimit}}
                </div>
                <div  class="column-header-task-limit" *ngIf="column.columnTaskLimit>0  &&  column.tasks.length > column.columnTaskLimit"matBadge="{{column.tasks.length-column.columnTaskLimit}}" matBadgeOverlap="false" matTooltip="Task Limit"
                    matBadgeColor="warn">
                    {{column.tasks.length}}/{{column.columnTaskLimit}}
                </div>

                <!-- <div  class="column-header-task-limit-exceed" >
                    {{column.tasks.length}}/{{column.columnTaskLimit}}
                </div> -->
                <!-- <form action=""  *ngIf="isColumnEditable">
                    <input type="text" style="width: 50%;" onblur="updateColumn()">
                    <input type="number" style="width: 50%;" onblur="updateColumn()">
                </form> -->
            </div>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path
                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            </svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots"
                viewBox="0 0 16 16" [matMenuTriggerFor]="menu" matTooltip="Options">
                <path
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
            </svg>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editColumn()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                Edit Column</button>
            <button mat-menu-item (click)="deleteColumn()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3" viewBox="0 0 16 16"  >
                <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
            </svg>
            Delete column  
            </button>
            <!-- <button mat-menu-item *ngFor="let taskpriority of boardObject.availableTaskPriority">
                {{taskpriority}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash3" viewBox="0 0 16 16" (click)="deleteTaskPriority(taskpriority)" >
                        <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
            </button>
            <mat-divider></mat-divider>
                <button mat-menu-item class="add-btn-member" (click)="openTaskPriorityDialog()">
                    Add Task Priority +
                </button> -->
            <!-- <button [matMenuTriggerFor]="menu" class="board-header-btn board-header-task-priority-btn"><span>Task
                    Priority</span></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let taskpriority of boardObject.availableTaskPriority">
                    {{taskpriority}}</button> -->
            </mat-menu>


        <div class="dragable-task-in-column" *ngFor="let task of column.tasks" cdkDrag>
            <!-- <app-task [task]="task"></app-task> -->
            <div *ngIf="shouldDisplayMyTask" >
                <div *ngIf="task.taskAssignedTo==userEmail">
                    <div *ngIf="taskPriorityFilter!=''">
                        <div *ngIf="task.taskPriority==taskPriorityFilter">
                            <app-task [task]="task" (changedTask)="updateTaskChange($event, task) " (deletedTask)="deleteTask($event, task)"></app-task>
                        </div>
                    </div>
                    <div *ngIf="taskPriorityFilter==''">
                        <app-task [task]="task" (changedTask)="updateTaskChange($event, task) " (deletedTask)="deleteTask($event, task)"></app-task>
                    </div>

                </div>
            </div>
            <div *ngIf="!shouldDisplayMyTask" >
                <div *ngIf="taskPriorityFilter!=''">
                    <div *ngIf="task.taskPriority==taskPriorityFilter">
                        <app-task [task]="task" (changedTask)="updateTaskChange($event, task) " (deletedTask)="deleteTask($event, task)"></app-task>
                    </div>
                </div>
                <div *ngIf="taskPriorityFilter==''">
                    <app-task [task]="task" (changedTask)="updateTaskChange($event, task) " (deletedTask)="deleteTask($event, task)"></app-task>
                </div>

            </div>

        </div>
        <button class="column-add-column-btn" (click)="openAddTaskPopup()">Add Task
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                viewBox="0 0 16 16">
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />            </svg>
        </button>

    </div>
</div>